
.heading {
    text-align: center;
    font-size: 2.1vh;
}
.frm{  
    background: rgb(255, 222, 185, 0.6);   
    border: solid rgb(0, 0, 0) 1px;  
    border-radius: 15px; 
    margin: 0 auto;
    padding: 50px;
    padding-bottom: 30px;
    width: 330px;  
} 

.genderRadio{
    margin-top: 1rem;
}
#gender{
    position: relative;
    bottom: 13px;
    display: inline-block;
}
#btnMale{
    position: relative;
    margin-left: 10px;
    bottom: 13px;
    display: inline-block;
}
#btnFemale{
    position: relative;
    bottom: 13px;
    display: inline-block;
}

#btn {
	background-color:transparent;
    border:2px solid #3a3b3a;
	border-radius:5px;
    color:#000000;
	cursor:pointer;
	padding:7px;
	text-decoration:none;
    margin-left: 7.5rem;
}
#btn:hover {
	background:linear-gradient(to bottom, #ffce8a 5%, #ffdd8c 100%);
	background-color:#ffce8a;
}
#btn:active {
	position:relative;
	top:3px;
}

/* Daftar stuff */
#btnMember{
    position: relative;
    margin-left: 40px;
    bottom: 20px;
    display:inline-block;
}

#btnAdmin{
    position: relative;
    bottom: 20px;
    margin-left: 5px;
    display:inline-block;
}

/* Import stuff */
#importBar {
    background: transparent;
    border: solid rgb(73, 62, 73) 1px;  
    border-radius: 12px;
    width: 85%; 
    padding: 8px 16px 8px 36px; 
    margin-bottom: 12px; 
    text-decoration:none;
    font-size: 16px; 
    text-align: center;
}
#importBar:active {
	position:relative;
	top:3px;
}
::file-selector-button {
    display: none;
}
#btnImport {
	background-color:transparent;
    border:2px solid #3a3b3a;
	border-radius:5px;
    color:#000000;
	cursor:pointer;
	padding:7px;
	text-decoration:none;
    position: relative; 
    left: 50%;
    margin-left: -30px;
}
#btnImport:hover {
	background:linear-gradient(to bottom, #ffce8a 5%, #ffdd8c 100%);
	background-color:#ffce8a;
}
#btnImport:active {
	position:relative;
	top:3px;
}


@media only screen and (max-width: 1366px) {
    .frm {
        background: rgb(255, 222, 185, 0.6);
        border: solid rgb(0, 0, 0) 1px;
        border-radius: 15px; 
        position:absolute; 
        top: 50%;
        left: 50%;
        margin: -12% 0 0 -225px;
        padding: 50px;
        padding-bottom: 30px;
        width: 330px;
    } 
}


/* Textbox CSS  */
:root {
    --color-light: rgb(255, 222, 185, 0.6);
    --color-background: var(--color-light);
    --color-accent: #0945e7;
    font-family: 'Inter', sans-serif;
}

.input_box {
    background: var(--color-background);
    border-radius: 15px;
    margin-top: 1rem;
}

.input {
    position: relative;
    font-size: 12px;
}

.input_field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 2px solid rgb(73, 62, 73);
    padding: 0.6rem;
    background: transparent;
    border-radius: 15px;
}

.input_label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin: 0.5rem;
    margin-top: 0.5rem;           /* firefox = 1.15rem, 19px, 3vh || chrome = 0.5rem, 9px, 1.35vh */
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: rgb(255, 222, 185, 0.6);
    color: rgb(73, 62, 73);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.3rem;    /* firefox = 1.6rem, 24px, 4vh || chrome = 1.3rem, 21px, 3.3vh */
    border-radius: 15px;
}

.input_field:focus+.input_label,
.input_field:not(:placeholder-shown)+.input_label {
    transform: translate(0.25rem, -65%) scale(0.8);
    color: var(--color-accent);
    background: rgb(255, 222, 185);
}